<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osc.oscashapp.dao.user.bank.TUserBankMapper">
  <resultMap id="BaseResultMap" type="com.osc.oscashapp.entity.user.bank.TUserBank">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="bank_id" jdbcType="VARCHAR" property="bankId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="bank_card_type" jdbcType="VARCHAR" property="bankCardType" />
    <result column="card_holder_name" jdbcType="VARCHAR" property="cardHolderName" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="bank_card_no" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="reserved_phone_number" jdbcType="VARCHAR" property="reservedPhoneNumber" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="bank_state" jdbcType="INTEGER" property="bankState" />
    <result column="created_date" jdbcType="VARCHAR" property="createdDate" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="card_type" jdbcType="VARCHAR" property="cardType" />
  </resultMap>
</mapper>